body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

p {
  color: #8f8f8f;
  font-size: 1.3rem;
}

.container-fluid {
  padding: 7% 15%;
}

.navbar {
  position: sticky;
  padding: 0 0 3.5rem;
}

/* heading */
.big-heading{
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

/* navbar brand */

.navbar-brand {
  color: teal;
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

/* nav item */
.nav-item {
  padding: 0 8px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: bold;
}

/* download buttons */
.download-button {
  margin: 3% 2% 5% 3%;
}

/* title img */
.title-img {
  margin: 0% 0 2% 4%;
  transform: rotate(25deg);
  width: 50%;
  position: absolute;
  right: 24%;
}

#title {
  background: #ef8172;
  color: #fff;
  text-align: left;
}

#features {
  position: relative;
  z-index: 1;
  background: white;
}

.feature-title{
  font-size: 1.5rem;
}

#testimonials {
  background: #ef8172;
  color: #fff;
}

.testimonial-text{
  font-size:3rem;
  line-height:1.5;
}


#press {
  background: #ef8172;
  padding-bottom: 3%;
}

#cta {
  background: #ef8172;
  color: #fff;
  padding: 100px;
  padding: 4% 20% 3% 20%;
}

#footer {
  padding: 5%;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #ef8172;
  padding-bottom: 1rem;
}

.icon:hover {
  color: tomato;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.press-logo {
  width: 15%;
  margin: 20px 30px 50px;
}

.btn {
  margin-top: 5%;
}

.card-sect {
  padding: 20px;
}

.contacts> i{
  padding:10px;
}

.nav-items{
  text-align:left;
}

/* pricing section */

#pricing {
  padding: 100px;
}



.price-text{
  font-size: 3rem;
  line-height:1.5;
}

@media (max-width: 1028px) {
  .title-img {
    position: static;
    margin: 3% 0 0% 4%;
    transform: rotate(0deg);
  }
}
